<template>
  <span>
  <div id='yandex-podelisq'
       v-fillblock="{ fbDataUrl: yDataUrl, fbDataTitle: yDataTitle, fbDataDescription: yDataDescription}"></div>
  </span>
</template>

<script>
  export default {
    props: ['yDataTitle', 'yDataDescription', 'yDataUrl'],
    data: () => ({}),
    head : {
      script: [
        // API запрещает асинхронную загрузку, см. https://tech.yandex.ru/share/doc/dg/api-docpage/
        { type: 'text/javascript', src: "//yastatic.net/share2/share.js", body: true, async: false },
      ]
    },

    // https://ru.vuejs.org/v2/guide/custom-directive.html
    directives: {
      fillblock: {
        inserted: function (el, binding) {
          // https://tech.yandex.ru/share/doc/dg/api-docpage/
          //console.log("Поделись1");

          function ВКомпонентеПоделисьПовторяйПокаОноНеВернётИстину (Функция,ЗадержкаМс) {
            var height = 0;
            if (Функция() === true) {
              return;
            }
            setTimeout( function СделайЭтоРазокИЕщёЗапланируйНаПотом () {
              if (Функция() === true) {
                return;
              }
              setTimeout( СделайЭтоРазокИЕщёЗапланируйНаПотом, ЗадержкаМс);
            }, ЗадержкаМс);
          }

          const ОживиБлокПоделись = function() {
            // console.log('Вызвана ОживиБлокПоделись')
            if (typeof Ya === "undefined" || typeof Ya.share2 !== "function") {
              return false;
            }
            Ya.share2('yandex-podelisq', {
              theme: {services: 'vkontakte,facebook,twitter,lj,whatsapp,telegram'},
              content: {
                url: binding.value.fbDataUrl,
                title: binding.value.fbDataTitle,
                description: binding.value.fbDataDescription
              }
            });
            return true;
          }

          ВКомпонентеПоделисьПовторяйПокаОноНеВернётИстину(ОживиБлокПоделись,1000);

          //console.log("Поделись3");
        }
      }
    }
  }
</script>

