<template>
  <navbar placement="static" type="default">
    <a slot="brand" href="/"><img src="~/static/cerkovq.png"></a>
  <dropdown text="Dropdown">
    <li><a href="link">Option</a></li>
  </dropdown>
  </navbar>
</template>

<script>
import navbar from "vue-strap/src/navbar.vue";

export default {
  props: { ТекущийАдрес: String },
  data: function() {
    return {
      Пункты :
        [ { Заголовок:"Главная", Адрес:"/" }, 
          { Заголовок:"Русификация", Адрес:"/русификация.яргт" },
          { Заголовок:"Ссылки", Адрес:"/links.html" } ]
    }
  },
  components: {
    navbar
  }
}
</script>



