<template>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'/план.яргт',Заголовок:'План'}]"/>

    <h2>Планы для государства</h2>

    <p>На данный момент ряд возможных мер в области кибербезопасности изложены на главной странице. Государство могло бы принять следующие меры по защите русского языка и кириллицы в компьютерах</p>
    <ul>
    <li>Осознать, что перевод профессиональной деятельности на русский язык - это естественно, закономерно и соответсвует интересам страны</li>
    <li>Изучить предыдущие примеры (морское дело, медицина, военное дело, авиация) и дать название этому процессу</li>
    <li>Осознать, что интересы проф. сообщества здесь отличаются от интересов страны и их сопротивление придётся преодолевать</li>
    <li>Создавать хорошие учебные материалы по программированию на русском языке. Например, в советское время были простые компьютеры БК-0010 (аналог PDP-11). Группа из очень молодых энтузиастов (возможно, они были школьниками!) сумела создать операционную систему ANDOS. На сегодня операционные системы гораздо сложнее. Поэтому можно создать учебную ОС, учебный компилятор, учебные драйверы - всё на русскоязычном языке программирования.</li>
    <li>Там, где разработка ПО стандартизирована, требовать идентификаторы и комментарии - по русски и в кириллице. Хотя бы в «Эльбрусе» и «Байкале» русскоязычная документация должна быть основной, а не переводной. В кулуарах я узнал, что в исходных кодах МЦСТ комментарии по стандарту - на английском. «Байкал» недавно искал технического писателя на английском (потом они будут переводить на русский для соответствия нормативным документам, как я понял из описания вакансии). Здесь нужно навести порядок. Если «Эльбрус» и «Байкал» делаются для импортозамещения, вся первичная документация, включая исходные тексты, должна быть на русском, а не на английском, хотя бы по закону о государственном языке, а также исходя из защиты национальных интересов. Вполне возможен даже русскоязычный Си, а уж комментарии и документация на русском языке - и подавно.</li>
    <li>Принять на государственном уровне единый способ обратимой и буквенной транслитерации и требовать его применения, где не поддерживается кириллица. Обратимость состоит в том, что русский текст однозначно кодируется латинскими буквами и может быть точно восстановлен. Буквенность состоит в отсутствии в кодировке не-букв, например, апострофа, что позволит использовать такой транслит в E-mail, именах пользователей и т.п.</li>
    <li>Пароли, безразличные к текущей раскладке клавиатуры. «Ghbdtn» и «Привет» должны рассматриваться как один и тот же пароль в любом сервисе, созданном для нужд российских граждан. Такая безразличность снижает надёжность паролей там, где кириллица разрешена, но она в паролях почти нигде не разрешена, поэтому потери минимальны. В будущем исключить из паролей латиницу и оставить только кириллицу</li>
    <li>Собирать информацию об успешных примерах применения русского языка в программировании и поощрять их. Каталог и конкурс русскоязычных проектов в github и иже. Например, русскоязычные коммиты, русскоязычные имена CSS стилей, русскоязычные имена файлов, русские имена таблиц - это всё отдельные элементы борьбы за русский язык. Имея опыт, я скажу, что это целая тяжёлая война, где далеко не каждое сражение заканчивается победой. Цель сбора информации о таких проектах - поднять моральный дух сторонников РЯ в ИТ, которых англофилы совсем уже затюкали.</li>
    <li>Улучшение поддержки URL в кириллице. Русскоязычные версии бразуеров не должны превращать кириллические буквы в %D1. Для
этого надо работать с поставщиками браузеров и гаджетов</li>
    <li>Электронная почта в кириллице.</li>
    </ul>
    <h2>Планы для себя</h2>
    <p>То, что я делаю и сделал</p>
    <ul>
    <li>Основной проект: перевод операционной системы «A2» на русский язык, рабочее название «ЯОС». Улучшена поддержка кириллицы во многих частях ОС, введена поддержка русских ключевых слов, идентификатаров на русском языке, ведётся перевод исходного текста. Кроме этого, улучшены инструменты разработчика, а также освоен запуск A2 на платформе ARM/Xilinx</li>
    <li><a href=../словарь-переводов-терминов.яргт/>Словарь для создания терминологии</a> - веб-версия работает в тестовом режиме.</li>
    <li>Там, где кириллица неприменима, последовательно применяем специальный обратимый транслит (<a href=../яролит.яргт>яролит</a>), который имеет доказуемые преимущества</li>
    <li>Раскладка клавиатуры для удобного ввода программных текстов и веб-разметки с массовым использованием кириллицы.
<a href=https://bitbucket.org/budden/iaroklava-js>Реализовано</a> для веб, Windows, Linux, ЯОС </li>
    <li>При работе с текстом нужен режим, при котором латиница визуально отличима от кириллицы. Можно делать через <a href=https://budden73.livejournal.com/35987.html>изменение отображения</a> (сделано, хотя и не очень удобно) или <a href="http://вече.программирование-по-русски.рф/viewtopic.php?f=2&t=268">изменение шрифтов</a> - этот вариант пока на уровне экспериментов, но его нужно довести до ума.</li>
    <li>Отдавать предпочтение инструментам, которые сделаны в России и/или хорошо поддерживают русский язык. Делается по мере возможности.</li>
    <li>Применять комментарии, идентификаторы и имена файлов на русском везде, где это возможно. При этом вырабатывать единую терминологии. Делается</li>
    </ul>

    <gde-ya v-bind:Путь="[{Адрес:'/план.яргт',Заголовок:'План'}]"/>
  </div>

</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';
  import Podelisq from '~/components/Podelisq.vue';

  export default {
    components: {
      GdeYa,
      Podelisq
    },
    head: { title: 'Сводка с фронта' }
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
