<template>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'/проекты.яргт',Заголовок:'Проекты'}]"/>

    <h2>Проекты</h2>

    <p>Здесь собраны некоторые проекты, касающиеся «глубокой» русификации, или важные программы, написанные на русскоязычных
    языках программирования. </p>

    <h4>Наши проекты</h4>
    <ul>
    <li>ЯОС - русский перевод операционной системы A2.</li>
    <ul>
      <li><a href=https://gitlab.com/budden/ja-o-s>Страница проекта, в т.ч. задачи для тех, кто может помочь.</a></li>
      <li><a href="https://www.youtube.com/watch?v=9e0hJjz64Tw">Видео</a> (и рядом есть ещё)</li>
      <li><a href="/static/яос-этап-перевода.xhtml">Предельно лаконичная заявка на финансирование этапа перевода</a></li>
    </ul>    
    <li><a href="/яролит.яргт">Яролит</a> - транслит для человеко-читаемого и обратимого представления кириллицы латиницей, улучшенная версия ГОСТ 16876-71, таблица 2.
    Для русской кириллицы проект закончен, но можно продолжать работу над другими кириллическими алфавитами. Также нужно реализовать
    алгоритм преобразования на разных языках программирования.</li>
    <li><a href="/яроклава-js.яргт">Яроклава</a> - способ ввода смешанных русско-латинских текстов, удобный для ввода программ или html-разметки с преобладанием кириллицы.
    Проект успешно завершён.</li>
    <li>Сбор и выработка терминологии (при участии Сандро, Павиа). Разработан и запущен 
    <a href="/словарь-переводов-терминов.яргт">«Семантический словарь»</a>
    - веб-интерфейс для сбора, учёта и выработки терминологии при переводе с учётом особенностей
    командной работы.</li>
    </ul>

    <h4>Чужие проекты</h4>
    <ul>
    <li>Графит-Флокс. Этот проект мало известен, но зато он используется на ракетах-носителях, в том числе в РВСН.</li>
    <li>1С - предприятие. 1С - предприятие - это платформа, на которой можно создавать системы для учёта (бухгалтерского,
    торгового, складского и ещё много вариантов). Используется язык программирования с ключевыми словами на русском
    языке. Стандартная библиотека функций этого языка и вся документация - на русском языке.</li>
    <li>«Космический» PL/1 - русифицированная версия языка PL/1, используется на Международной Космической Станции (МКС), в том числе для связи, навигации и при планировании стыковки. Подробнее - <a href="http://compiler.su/stati-dmitriya-karavaeva.php">статьи Дмитрия Караваева</a></li>
    <li>«КУМИР» - русскоязычная среда программирования для школы. Используемый в ней «школьный алгоритмический язык» может применяться при сдачи ЕГЭ по информатике.</li>
    <li>Microsoft. Отметим их работу по русификации сообщений об ошибках компилятора C++, что относится к процессу
    производства ПО. Отличная работа!</li>
    <li>Linux-сообщество. Достаточно много руководств по системным утилитам Linux переведено на русский.</li>
    <li>Проект «Информатика-21». Проведена большая работа по русификации среды разработки BlackBoxComponentBuilder. 
    Среда используется на школьных уроках информатики. Русифицировано, правда, далеко не всё. Эта среда разработки
    имеет и промышленное применение, в том числе, в атомной отрасли, хотя неизвестно, используется ли
    русскоязычная или англоязычная версия. Нужно отметить, что эта среда сегодня выглядит морально устаревшей
    по многим показателям, поэтому она интересна скорее как пример русификации и источник терминологии, 
    чем как законченный продукт.</li>
    <li><a href=https://nauchkor.ru/pubs/razrabotka-kompilyatora-dlya-yazyka-rusi-na-platformu-mips-587d365b5f1be77c40d58d85>Язык программирования «РуСи»</a>
    - учебный с прицелом в промышленный, упрощённый диалект языка Си с ключевыми словами на русском языке, руководитель - А.Н.Терехов, доступной информации мало</li>
    <li>Существуют разные примитивные русификаторы для языков Java и C, ссылки потерялись, но можно 
    попробовать их найти на <a href="http://compiler.su">compiler.su</a></li>
    <li><a href=http://atimopheyev.narod.ru/Glagol/>Язык программирования «Глагол»</a> - ещё одна любительская русскоязычная версия языка Оберон.</li>
    <li>Существуют миллионы «Open Source» проектов на github. Среди них есть, как минимум, десятки тысяч проектов, 
    где русский язык задействован в процессе производства (в журналах изменений кода). Было бы интересно изучить роль русского языка в этих проектах, но на это у нас нет ресурсов</li>
    </ul>


    <gde-ya v-bind:Путь="[{Адрес:'/проекты.яргт',Заголовок:'Проекты'}]"/>
  </div>

</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';
  import Podelisq from '~/components/Podelisq.vue';

  export default {
    components: {
      GdeYa,
      Podelisq
    },
    head: { title: 'Проекты' }
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
