<template title='Терминология'>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'\/словарь-переводов-терминов.яргт',Заголовок:'Словарь переводов терминов'}]"></gde-ya>
    <p>Терминология - это самое сложное и самое важное в русификации ИТ. Поэтому создан специальный движок для сбора терминологии. 
    Обычных словарей (из тех, которые попались в руки и которые можно найти в сети) недостаточно. Ячейкой словаря является не слово, а отдельный смысл, 
    который может быть придан слову или словосочетанию. Переводы слова даны c привязкой к диалекту, из которого они пришли. Каждый диалект может давать 
    стройную систему переводов терминологии, но если смешивать переводы из разных диалектов, возникнут неоднозначности. Поэтому сохранять 
    источник перевода важно. Словарь <a href="https://semantic-dict.ru">находится здесь</a>. Старая версия в виде таблиц гугл доступна <a href="https://docs.google.com/spreadsheets/d/16IbPw9ddQTyF4N9M0uFUm00n8NxP5Fc2l2W4szFiVnU/edit?usp=sharing">здесь.</a></p>
    <gde-ya v-bind:Путь="[{Адрес:'\/словарь-переводов-терминов.яргт',Заголовок:'Словарь переводов терминов'}]"></gde-ya>
    </div>
</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';

  export default {
    components: {
      GdeYa
    },
    data: function () {
      return {}
    }
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
