<template>
  <div class="container" align="justify">
  <gde-ya v-bind:Путь="[{Адрес:'содержание.яргт',Заголовок:'Содержание'}]"/>
  <ul>
    <li><router-link to="/">Главная (манифест)</router-link></li>
    <li>Проекты: мои и чужие, живые и мёртвые
    <ul>
    <li><a href="/проекты.яргт">Обзор проектов</a>
    <li>Операционная система ЯОС (русский перевод ОС A2)
    <ul>
      <li><a href=https://gitlab.com/budden/ja-o-s>Страница проекта, в т.ч. задачи для тех, кто может помочь.</a></li>
      <li><a href="https://www.youtube.com/watch?v=9e0hJjz64Tw">Видео</a> (и рядом есть ещё)</li>
    </ul></li>
        <li><a href="/яроклава-js.яргт">Яроклава - печатаем Rus+Lat без боли</a></li>
        <li><a href="/яролит.яргт">Яролит - правильный транслит</a></li>
        <li><a href="/словарь-переводов-терминов.яргт">Словарь переводов терминов</a></li>
    </ul>
    <li>Общение
      <ul><li><a href="http://вече.программирование-по-русски.рф/viewforum.php?f=2">Вече (также известное, как «Форум»)</a></li>
      </ul></li>
    <li><a href="/ссылки.яргт">Ссылки</a></li>
    <li><a href="/устаревшее-или-не-по-теме.яргт">Разное (устаревшее или не относящееся к теме)</a></li>
  </ul>
  <gde-ya v-bind:Путь="[{Адрес:'содержание.яргт',Заголовок:'Содержание'}]"/>
  </div>
</template>

<script>
import GdeYa from '~/components/GdeYa.vue';

export default {
  components: {
    GdeYa
  },
  data: () => ({})
}
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
