<template>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'/ссылки.яргт',Заголовок:'Ссылки'}]"/>
    <div>
      <h3>Люди</h3>
      <ul>
        <li><a href="http://programming.nsu.ru/prepodavatel/gorodnyaya_lidiya_vasilevna">Городняя Лидия Васильевна</a> - сподвижница академика Ершова, автор и соавтор русскоязычных ЯП</li>
        <li><a href="https://vk.com/id138120740">Якушев Ярослав</a> - оказал проекту моральную и финансовую помощь. Спасибо!</li>
        </ul>
      <h3>Русский язык</h3>
      <ul>
        <li><a href="https://vk.com/rodnorechie_rf">Родноречие</a> - если хочешь сохранить русский язык - русским языком.</li>
        <li><a href="https://habrahabr.ru/post/108846/">Русские идентификаторы в коде</a> - пост на Хабре</li>
      </ul>  
      <h3>Языки прогаммирования</h3>
      <ul>
      <li><a href=http://compiler.su/entuziasty-razrabotchiki-kompilyatorov-i-ikh-proekty.php>Перечень разрабатываемых в России ЯП и компиляторов, в т.ч., русскоязычных</a></li>
      </ul>
      <h3>Шрифты, графика</h3>
      <ul>
      <li><a href="http://typerus.ru">Русские шрифты и стили для Photoshop</a></li>
      </ul>
    </div>
  <gde-ya v-bind:Путь="[{Адрес:'/ссылки.яргт',Заголовок:'Ссылки'}]"/>
  </div>
</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';

  export default {
    components: {
      GdeYa
    },
    head: {title: 'Ссылки'}
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
