<template>
  <div class="container" align="justify">
  <gde-ya v-bind:Путь="[{Адрес:'не-по-теме.яргт',Заголовок:'Разное (устаревшее или не по теме)'}]"/>
    <h3>Разное (устаревшее или не по теме)</h3>
      <ul>
        <li><router-link to="/как-сделан-этот-сайт.яргт">Как сделан этот сайт</router-link></li>
        <li><a href="/static/sbclt-docs.html">Эксперименты с SBCL</a></li>
        <li><a href="/static/размеченные-исходники-A2/содержание.html">Достаточно старые исходные тексты A2 с переходами к определению</a></li>
        <li><a href="/static/док-ня.html">Заметки о компонентном паскале blackboxcomponentbuilder</a></li>
        <li><a href="/яр.яргт">Язык программирования «Яр» (заморожен)</a></li>
      </ul>
  <gde-ya v-bind:Путь="[{Адрес:'не-по-теме.яргт',Заголовок:'Разное (устаревшее или не по теме)'}]"/>
  </div>
</template>

<script>
import GdeYa from '~/components/GdeYa.vue';

export default {
  components: {
    GdeYa
  },
  data: () => ({})
}
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
