<template>
  <div id="Для-компонента-vue" class="container" align="justify">
    <gde-ya
      v-bind:Путь="[{Заголовок:'Яролит - правильный транслит'}]"></gde-ya>
    <FORM NAME="Форма" METHOD="POST">

      <H3>Исходный текст</H3>

      <div width="100%">
        <textarea class="textarea-width-100" v-model="ИсходныйТекст" ROWS=8></textarea>
      </div>

      <HR/>

      <INPUT TYPE="button" VALUE="Рус->Lat" v-on:click="ВЛатиницу()"/>&nbsp;
      <INPUT TYPE="button" VALUE="Lat->Рус" v-on:click="ИзЛатиницы()"/>&nbsp;
      <INPUT TYPE="button" VALUE="Тест: Рус->Lat->Рус" v-on:click="ВЛатиницуИОбратно()"/>
      <HR/>

      <H3>Транслитерированный текст</H3>

      <textarea class="textarea-width-100" v-model="ЯролитерированныйТекст" ROWS=8 readonly></textarea>
      <P/>
    </FORM>

    <HR/>

    <h4>Яролитерация - обратимая транслитерация, пригодная для идентификаторов, E-mail, веб-страниц</h4>

    <p>Ни один из упомянутых в Википедии <a href="https://ru.wikipedia.org/wiki/Транслитерация_русского_алфавита_латиницей">стандартов транслитерации кириллицы</a> непригоден для кодирования имён пользователей, E-mail, идентификаторов в программах. Эти стандарты либо превращают некоторые буквы в знаки препинания, либо по преобразованному тексту нельзя восстановить исходный (например, «эй» нельзя отличить от «ей», а Пашу - от Пасхи). Лучший стандарт - это ГОСТ 16876-71, таблица 2, ныне упразднённый. Я добавил к нему кодировку 
    мягкого и твёрдого знака в виде латиницы и получился «Яролит». Помимо кириллицы, он позволяет 
    кодировать некириллические символы юникода. Буквы основной латиницы кодируются с применением переключающих последовательности «xe» и «xr», что означает «переключиться на английский» и «переключиться на русский». Символы за пределом русской кириллицы и основной латиницы представляются с помощью кода символа в кодировке Unicode, в виде xuNNNNx, где N - 16-ричные цифры в количестве не более 6. Легко доопределить «Яролит», чтобы он включил в себя Украинский,
    Белорусский, Монгольский, Сербско-хорватский и Македонский кириллические алфавиты.</p>
<h4>Что надо/можно улучшить?</h4>
<ul>
<li>Исправить баг развёртывания: скрипты теряются</li>
<li>Доделать кодировку для нерусской кириллицы, входящей в ГОСТ</li>
<li>Добавить иные нерусские кирилловские буквы и дореформенные буквы, если они поместятся</li>
<li>Определить коды иных языков для переключения, например, xg можно использовать для переключения на греческий</li>
<li>Создать библиотеки для реализации яролита на разных языках программирования</li>
<li>Улучшить обработку ошибок, чтобы можно было продолжать чтение после ошибки, или не продолжать, по выбору программиста</li>
</ul>
<p>При этом нужно учесть, что буква «w» никак не задействована в ГОСТ 16876-71, табл 2, и её тоже можно использовать «в мирных целях».</p>

    <podelisq
      y-data-title="Яролит - транслит, пригодный для идентификаторов в программах"
      y-data-description="Существующие стандарты транслита непригодны для представления русскоязычных идентификаторов в программах: они либо необратимы, либо превращают часть русских букв в знаки препинания. Предлагаем обратимую версию транслита."
      y-data-url="http://программирование-по-русски/яролит.яргт"
    />
    <gde-ya
      v-bind:Путь="[{Адрес:'/русификация.яргт',Заголовок:'Русификация'},{Заголовок:'Яролит - правильный транслит'}]"></gde-ya>
  </div>
</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';
  import Podelisq from '~/components/Podelisq.vue';

  export default {
    components: {
      GdeYa,
      Podelisq
    },
    head: {
      title: 'Яролит - правильный транслит',
      script: [
        {type: 'text/javascript', src: "/jarolit/яролит.js", async: false, encoding: 'utf-8'},
        {type: 'text/javascript', src: "/jarolit/тест-яролита.js", async: false, encoding: 'utf-8'}
      ]
    },
    data: () => ({ ИсходныйТекст : `В чащах юга жил бы цитрус? Да, но фальшивый экземпляр!
Ъ '†'☭♥☼ 
XEROX, мир!` , ЯролитерированныйТекст: "" }),
    methods: {
      ВЛатиницу: function (event) {
        // `this` внутри методов указывает на экземпляр Vue
        this.ЯролитерированныйТекст = "";
        this.ЯролитерированныйТекст = ПреобразуйСтрокуВЛатиницу(this.ИсходныйТекст); },
      ИзЛатиницы: function (event) {
        this.ЯролитерированныйТекст = "";
        this.ЯролитерированныйТекст = ПреобразуйСтрокуИзЛатиницы(this.ИсходныйТекст); },
      ВЛатиницуИОбратно: function (event) {
        this.ЯролитерированныйТекст = "";
        this.ЯролитерированныйТекст = ПреобразуйСтрокуВЛатиницу(this.ИсходныйТекст);
        this.ЯролитерированныйТекст = ПреобразуйСтрокуИзЛатиницы(this.ЯролитерированныйТекст); 
        if (this.ЯролитерированныйТекст == this.ИсходныйТекст) {
          this.ЯролитерированныйТекст = 'Тест прошёл успешно';
        } 
      }
    }
  }
</script>


<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
<style>
  .textarea-width-100 {
    width: 100%;
    box-sizing: border-box;
  }
  
   .ТаблицаТранслита {
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
    border: 2px solid #000; /* Рамка вокруг таблицы */
   }
   .ТаблицаТранслита TD {
    width: 3em;
    text-align: center;
    border: 1px solid #000; /* Рамка вокруг ячеек */
   }
</style>
